<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Texticles The Website</title>
  </head>
  <body>
    <h1>Come Play with my Texticles</h1>
    <p>Enter your sober texts and we'll automatically change them into
      something you wish you hadn't sent at 3 am after a night bar hopping and
      sexy burritos. You won't hate yourself in the morning, I promise! Let our
      robots do the drinking, all you have to do is text!</p>
      <form>
        Sober Text:<br>
        <textarea name="sobertext"></textarea>
        <input type="submit" value="Sumbit">
      </form>
    {% block body %}
    {% endblock %}
  </body>
</html>
